---

name: Weblate Locale Linter
on:
  push:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps: 
      - name: Repository checkout
        uses: actions/checkout@v5

      - name: Weblate Locale Linter
        uses: WeblateOrg/locale_lint@v0.3.1

...
